.filler {
    flex: 1 1 auto;
}
.gap {
   margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.mat-icon {
    vertical-align: middle;
}

.label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
    vertical-align: middle;
}